body{
    background:#232323;
    color:rgb(0, 0, 0);
    text-align:center;
    margin:0 auto;
}
h1{
    background-color:cyan;
    margin:0;
}
h2{
    margin:0;
}
p{
    margin:0;
}
button{
    border-style:none;
    border-radius:50%;
    background-color:wheat;
}
button:hover{
    color:white;
    background:darkgoldenrod;
}
.square{
    width:30%;
    padding-bottom:30%;
    margin:1.66%;
    float:left;
    background:yellow;
}
.container{
    margin:0 auto;
    max-width:600px;
}
.on{
    background-color:darkgoldenrod;
    color:white;
}
#stripe{
    background-color:darkblue;
}
#message{
    color:white;
}
#instructions{
    background-color:cyan;
}