body{
    background:darkblue;
    color:darkblue;
    text-align:center;
    margin:0 auto;
    font-family:"Footlight MT Light", "Arial";
}
h1{
    background-color:cyan;
    margin:0;
    text-transform:uppercase;
    padding:15px 0;
    letter-spacing:2px;
    transition:background .8s;
    -webkit-transition:background .8s;
    -moz-transition:background .8s;
}
h1 span{
    display:block;
}
h2{
    margin:0;
    text-align:center;
    font-weight:normal;
}
p{
    margin:0;
}
button{
    border-style:none;
    background-color:wheat;
    text-transform:uppercase;
    height:100%;
    font-weight:700;
    letter-spacing:1px;
    font-size:inherit;
    transition: all .5s;
    outline:none;
}
button:hover{
    background-color:darkblue;
    color:cyan;
}
/* This was originally a square, but I haven't had time to change it elsewhere in the code yet.  */
.square{
    width:28%;
    padding-bottom:28%;
    margin:1.66%;
    float:left;
    background:yellow;
    border:2px solid yellow;
    border-radius:50%;
    transition:background .8s;
    -webkit-transitoin:background .8s;
    -moz-transitoin:background .8s;
}
.container{
    margin:20px auto;
    max-width:600px;
}
.selected{
    background-color:darkblue;
    color:cyan;
}
#stripe{
    background-color:darkblue;
}
#message{
    color:white;
    display:inline-block;
    width:15%;
}
#instructions{
    background-color:cyan;
    font-weight:600;
}
#picker{
    font-size:130%;
}