body{
    background:#232323;
}
h1{
    color:white;
}
.square{
    width:30%;
    padding-bottom:30%;
    margin:1.66%;
    float:left;
    background:yellow;
}
.container{
    margin:0 auto;
    max-width:600px;
}